### Naglazyme Drug Sales

#### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor # Importing our Boosting Model
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score # Used to evaluted precision of model
from sklearn.model_selection import train_test_split # Split the dataset into training and testing sets 
from sklearn.ensemble import BaggingRegressor
import matplotlib.pyplot as plt

#### Dataset Visualization

In [2]:
# set our dataset equal to ds variable
ds = pd.read_csv('brmn.csv')

# view first 5 lines of dataset
ds.head()

,Year,Vimizim,Naglazyme,Palynziq,Kuvan,Brineura,Voxzogo,Aldurazyme,Products,Royalty,...,Operating Expenses,Operating Income,Interest Expense,Pretax Income,Taxes,Net Profit,EPS,Shares,Share Price,Unnamed: 24
0,Q320,148.0,76.0,46.0,124.0,25.0,0.0,41.0,461.0,16.0,...,327.0,-38.0,-5.0,-44.0,0.0,-44.0,-0.220201,198.0,87.00,NaN
1,Q420,143.0,120.0,50.0,89.0,35.0,0.0,1.0,437.0,15.0,...,352.0,-26.0,5.0,-22.0,0.0,-22.0,-0.117034,184.0,88.82,NaN
2,Q121,158.0,107.0,54.0,71.0,27.0,0.0,50.0,468.0,18.0,...,323.0,43.0,-2.0,41.0,6.0,35.0,0.191669,184.0,76.62,NaN
3,Q221,172.0,119.0,59.0,79.0,30.0,0.0,28.0,487.0,15.0,...,345.0,30.0,2.0,32.0,1.0,31.0,0.166977,185.0,83.49,NaN
4,Q321,137.0,71.0,61.0,68.0,33.0,0.0,24.0,394.0,15.0,...,341.0,-36.0,7.0,-29.0,-10.0,-19.0,-0.104315,183.0,77.09,NaN

#### Preprocessing

In [3]:
# dropping  non-float values
drop = ['Year', 'Operating Income', 'Royalty', 'Voxzogo', 'Aldurazyme', 'Taxes', 'Shares', 'Brineura']
ds = ds.drop(columns=drop)

# replacing non existing values in columns
ds.replace(np.nan,0,inplace=True)

#### Splitting Dataset

In [4]:
# Setting X equal to all columns except for inhibatory concentration value
X=ds.loc[:,ds.columns!='Naglazyme']
# Setting y equal to share price
y=ds['Naglazyme']

# 80/20 train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Scaling Data

In [5]:
# Initialize the scaler
scaler_X = MinMaxScaler()

# Scalling split data
X_train = scaler_X.fit_transform(X_train)
X_test = scaler_X.transform(X_test)

#### Building and Training Model

In [6]:
# XGBoost model built using XGBoost Regreesor
boost_model = GradientBoostingRegressor(learning_rate=0.1, n_estimators=100, max_depth=3, random_state=42)
# fitting our XGBoost model with the X train and X test sets that have been scaled accordingly with their features.
boost_model.fit(X_train, y_train)
# producing our prediction using our scaled test set
y_pred = boost_model.predict(X_test)

print(y_pred)

[1.21770603e+02 9.41032418e-04 1.21568338e+02 9.41032418e-04
 1.01882414e+02 9.41032418e-04]